* {
  background: #121212;
  box-sizing: border-box;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 64px;
  margin-bottom: 64px;
}

.logo {
  font-size: 24px;
  font-weight: 800;
  background: -webkit-linear-gradient(right,  #3700b3, #03DAC6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.connectButton {
  cursor: pointer;
  padding: 8px 16px;
  border-width: 1px;
  border-style: solid;
  border-radius: 100px;
  border-color: #03DAC6;
  color: #03DAC6;
}

.container {
  display: flex;
  justify-content: center;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
}

h1 {
  text-align: center;
  font-size: 64px;
  font-weight: 800;
  background: -webkit-linear-gradient(right,  #3700b3, #03DAC6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wave {
  -webkit-text-fill-color: initial;
}

.subtitle {
  text-align: center;
  margin-top: 8px;
  margin-bottom: 48px;
  width: 350px;
  color: #FFFFFF;
}

.messageInput {
  text-align: center;
  font-size: 14px;
  outline: none;
  padding: 8px 16px;
  margin-bottom: 24px;
  border-width: 1px;
  border-style: solid;
  border-radius: 100px;
  border-color: #03DAC6;
  color: #03DAC6;
  width: 300px;
}

.waveButton {
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 48px;
  padding: 8px 16px;
  border-width: 1px;
  border-style: none;
  border-radius: 100px;
  background-color:#03DAC6;
  color: #121212;
  width: 300px;
}

.waveCard {
  padding: 16px;
  margin-bottom: 24px;
  border-width: 1px;
  border-style: none; 
  border-radius: 10px;
  background-color: #222222; 
  font-size: 14px; 
  color: #FFFFFF;
  align-self: stretch;
}

.waveMessage {
  display: flex;
  justify-content: space-between;
  background-color: #222222; 
}

.messageText {
  margin-bottom: 8px;
}

.messageText,
.messageAddress,
.messageTime {
  background: none;
}

.messageAddress,
.messageTime {
  font-size: 10px;
  color: #626262;
}